h1 {
  font-size: 1.50em;
  line-height: 1.1em;
  margin: 0 0 0.5em;
  letter-spacing: -1px;
}

header img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.hiring {
  /* max-width: 200px; */
  /* display: flex; */
  /* justify-content: center; */
  width: 200px;
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  margin-bottom: 30px;
}

.hiring-link, hiring-link:hover {
  text-decoration: none;
  font-family: AvenirBlack;
  padding: 6px 28px;
  background-color: #4a85c5;
  color: #ffffff;
}

.hiring-link:hover {
  opacity: 9;
  color: white;
}

.video {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.videoWrapper {
  max-width: 640px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.videoWrapper iframe {
  width: 80%;
  height: 360px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  margin-bottom: 30px;
}

main {
  padding-left: 30px;
  padding-right: 30px;
}

.motto {
  /* display: flex; */
  /* justify-content: center; */
  font-size: 23px;
  font-weight: bold;

  width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


@media (max-width: 1000px) {
  .motto {
    width: 800px;
  }
}

@media (max-width: 800px) {
  .motto {
    width: 600px;
  }
}

@media (max-width: 600px) {
  .motto {
    width: 430px;
  }

  .videoWrapper iframe {
    height: 150px;
  }

  h1 {
    font-size: 1.00em;
}

@media (max-width: 400px) {
  .motto {
    width: 350px;
  }

  .videoWrapper iframe {
    height: 150px;
  }

  h1 {
    font-size: 1.00em;
}

@media (max-width: 300px) {
  .motto {
    width: 250px;
  }

  .videoWrapper iframe {
    height: 150px;
  }

  h1 {
    font-size: 1.00em;
}
